@model TeknolojiDükkanB.Models.Sınıflar.Cariler
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/CariLayout.cshtml";
}
<br />
<h2>Müşteri Kişisel Sayfası </h2>
@using (Html.BeginForm("Index2", "CariPanel", FormMethod.Post))
{
    <table class="table table-hover">
        <tr>
            <td><label>Mail Adresi:@HttpContext.Current.User.Identity.Name</label></td>

        </tr>
        <tr>
            <td>@Html.TextBoxFor(x => x.CariAd, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(x => x.CariSoyad, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(x => x.CariSehir, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })</td>
        </tr>
    </table>
   // <a href="/Cari/CariGetir/" class="btn btn-info">Bilgilerimi Guncelle</a>
    <button class="btn btn-default" style="background-color:bisque">Güncelle</button>

}
@*@ViewBag.m*@


